<div class="col-md-12" id="opcionespago" >
    <div class="row">
      <div class="col-md-4">
        <app-card [hidHeader]="true" footerClass="border border-top-0 p-0 overflow-hidden" [isCardFooter]="true" >
     
          <img src="assets/images/gallery-grid/logo-Paypal.png" alt="Pago1" width="100%"  class="welcome-img">
          <div class="text-center">
            <button type="button" class="btn btn-icon btn-success d-inline-flex"  >
              <i class="feather icon-check-circle"> Editar</i>
            </button>
            <!--<a class="btn btn-link-success" role="button" href="javascript:"> Pago por Paypal</a>-->
          </div>
          <div class="app-card-footer"> </div>
        </app-card>
      </div>
      <div class="col-md-4">
        <app-card [hidHeader]="true" footerClass="border border-top-0 p-0 overflow-hidden" [isCardFooter]="true" >
     
          <img src="assets/images/gallery-grid/transferencia.png" alt="Pago1" width="100%"  class="welcome-img" style="padding-bottom: 10%;padding-top: 14%;">
          <div class="text-center">
            <button type="button" class="btn btn-icon btn-success d-inline-flex" >
              <i class="feather icon-check-circle"> Editar</i>
            </button>
            <!--<a class="btn btn-link-success" role="button" href="javascript:"> Pago por Paypal</a>-->
          </div>
          <div class="app-card-footer"> </div>
        </app-card>
      </div>
      <div class="col-md-4" >
        <app-card [hidHeader]="true" footerClass="border border-top-0 p-0 overflow-hidden" [isCardFooter]="true"  >
     
          <img src="assets/images/gallery-grid/tarjetaedit.png" alt="Pago1" width="100%"  class="welcome-img" >
          <div class="text-center">
            <button type="button" class="btn btn-icon btn-success d-inline-flex" >
              <i class="feather icon-check-circle"> Editar</i>
            </button>
            <!--<a class="btn btn-link-success" role="button" href="javascript:"> Pago por Paypal</a>-->
          </div>
          <div class="app-card-footer"> </div>
        </app-card>
      </div>
    </div>
  
  </div>
  