



<div class="fixed-button active">
  <button type="button" (click)="openModal(template)" class="btn btn-md btn-primary has-ripple">
    <i aria-hidden="true" class="fa fa-credit-card-alt"></i> 
    Recargar saldo
  </button>
</div>


<!--modal principal-->
<ng-template #template>
  <div class="modal-header">
    <h6 class="modal-title pull-left" style="color: rgb(39, 38, 41);" >{{titulo}} </h6>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  


 <!--opciones de recarga de saldo-->
<div class="col-md-12" id="opcionespago" *ngIf="opciones">
  <div class="row">
    <div class="col-md-4">
      <app-card [hidHeader]="true" footerClass="border border-top-0 p-0 overflow-hidden" [isCardFooter]="true" >
   
        <img src="assets/images/gallery-grid/logo-Paypal.png" alt="Pago1" width="100%"  class="welcome-img">
        <div class="text-center">
          <button type="button" class="btn btn-icon btn-success d-inline-flex"   (click)="toggleParrafo2()">
            <i class="feather icon-check-circle"> Recargar</i>
          </button>
          <!--<a class="btn btn-link-success" role="button" href="javascript:"> Pago por Paypal</a>-->
        </div>
        <div class="app-card-footer"> </div>
      </app-card>
    </div>
    <div class="col-md-4">
      <app-card [hidHeader]="true" footerClass="border border-top-0 p-0 overflow-hidden" [isCardFooter]="true" >
   
        <img src="assets/images/gallery-grid/transferencia.png" alt="Pago1" width="100%"  class="welcome-img" style="padding-bottom: 10%;padding-top: 14%;">
        <div class="text-center">
          <button type="button" class="btn btn-icon btn-success d-inline-flex" (click)="toggleParrafo1()" >
            <i class="feather icon-check-circle"> Recargar</i>
          </button>
          <!--<a class="btn btn-link-success" role="button" href="javascript:"> Pago por Paypal</a>-->
        </div>
        <div class="app-card-footer"> </div>
      </app-card>
    </div>
    <div class="col-md-4" >
      <app-card [hidHeader]="true" footerClass="border border-top-0 p-0 overflow-hidden" [isCardFooter]="true"  >
   
        <img src="assets/images/gallery-grid/tarjetaedit.png" alt="Pago1" width="100%"  class="welcome-img" >
        <div class="text-center">
          <button type="button" class="btn btn-icon btn-success d-inline-flex" (click)="toggleParrafo3()">
            <i class="feather icon-check-circle"> Recargar</i>
          </button>
          <!--<a class="btn btn-link-success" role="button" href="javascript:"> Pago por Paypal</a>-->
        </div>
        <div class="app-card-footer"> </div>
      </app-card>
    </div>
  </div>

</div>





<!--recarga por transferencia-->
<div class="col-md-12" *ngIf="mostrarForm1" >
 
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
      
           <div class="text-end">
                <button type="button" class="close btn-close pull-right text-danger" style="width: min-content;" title="Cerrar" (click)="CerrarForm()">
                </button>
           </div>
        
              <p style="color: #8e3cdb;">Indicaciones para recarga de saldo por transferencias</p>
           
          </div>
         
          <div class="row"  >
          
              <ngb-accordion [closeOthers]="true" *ngFor="let count of data">
                <ngb-panel id='static-count.id'>
                  <ng-template ngbPanelTitle>
                    <a href="javascript:">{{count.entidad}}</a>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <p class="text-justify">{{count.indicaciones}}</p>
                    <ul>
                      <li><span style="color: #8e3cdb;">Tipo de cuenta:</span>  {{count.tipoCuenta}}</li>
                      <li><span style="color: #8e3cdb;">No. Cuenta:</span>  {{count.numero}}</li>
                     </ul>
                     <div class="text-center" style="margin-top: 2%;">
          
                      <a class="btn btn-link-success" role="button" type="button" (click)="openModal2(templateNested,count.tipoRecarga+'-'+count.entidad,count.id)">Reportar consignación</a>
                   </div>
                  </ng-template>
                </ngb-panel>
               
                
              </ngb-accordion>
          

            
              
      <!---  <ul *ngFor="let count of data">
          <li>
            <p >{{count.entidad}}</p>
                 
                   
            <p style="color: #8e3cdb;">Indicaciones para realizar transferencias a la cuenta XYZ de Banco Pichincha</p>
             
               {{count.indicaciones}}
                <p></p>
                <ul>
                  <li><span style="color: #8e3cdb;">Tipo de cuenta:</span>  {{count.tipoCuenta}}</li>
                  <li><span style="color: #8e3cdb;">No. Cuenta:</span>  {{count.numero}}</li>
                 </ul>
          
         
            <div class="text-center" style="margin-top: 2%;">
          
               <a class="btn btn-link-success" role="button" type="button" (click)="openModal2(templateNested)">Reportar consignación</a>
            </div>
          </li>

        </ul>-->
                 
                   
                
               
                
              
                
         



         
          
          </div>
        </div>
      </div>
    </div>

  </div>




<!--recarga por Paypal-->
<div class="col-md-12" *ngIf="mostrarForm2" >
  <app-card [hidHeader]="true" footerClass="border border-top-0 p-0 overflow-hidden" [isCardFooter]="true"  >
    <div class="row">

      <div class="text-end">
          <button type="button" class="close btn-close pull-right " style="width: min-content;" title="Cerrar" (click)="CerrarForm()">
          </button>
      </div>
      <p style="color: #8e3cdb;">Indicaciones para recarga de saldo por Paypal</p>
    </div>
    <div class="row">
    
    <p class="text-justify"> 
      Da los datos correspondientes al tipo de cuenta, número y valor de consignación.
      Una vez realizado el pago por favor sube una foto del comprobante a través del botón reportar consignación.
      Tu consignación será procesada en horario laboral de lunes a domingo de 9:00 am a 9:00 pm, consignación mínima de 2 USD.
      </p>
   
      <div class="text-center" style="margin-top: 2%;">
        <a class="btn btn-link-primary" role="button" href="https://www.paypal.com/ec/signin" >Recargar saldo</a>
        <a class="btn btn-link-success" role="button" type="button" (click)="openModal2(templateNested,'Recarga por Paypal',0)">Reportar consignación</a>
     </div>
  </div>
  </app-card>
  </div>



<!--recarga por tarjetas-->
<div class="col-md-12" *ngIf="mostrarForm3" >
  <app-card [hidHeader]="true" footerClass="border border-top-0 p-0 overflow-hidden" [isCardFooter]="true"  >
  <div class="row">
    <div class="text-end">
      <button type="button" class="close btn-close pull-right text-danger" style="width: min-content;" title="Cerrar" (click)="CerrarForm()">
      </button>
    </div>
    <p style="color: #8e3cdb;">Indicaciones para recarga de saldo por tarjetas</p>
  
      
    <p class="text-danger text-justify"> <i class="feather icon-alert-triangle"></i> Esta opción no se encuentra disponible por el momento.</p>
    


  </div>
  </app-card>
  </div>



</div>

 
</ng-template>





<!--modal para reportar consignación de saldo recargado-->
<ng-template #templateNested>
  <div class="modal-header">
    <h6 class="modal-title pull-left" style="color: rgb(39, 38, 41);" >Reportar consignación </h6>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef2?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  
<div class="col-md-12">
  <app-card [hidHeader]="true" footerClass="border border-top-0 p-0 overflow-hidden" [isCardFooter]="true"  >
    
    <p  style="color: #505488;">Datos para reportar la consignación de transacción realizada</p>

   
    <p class="text-muted" >Los siguientes datos son obligatorios para poder realizar un proceso efectivo de carga de saldo,
      por lo tanto deben coincidir en el comprobante de pago tanto el valor consignado, como la opción con la que se haya realizado la transacción correspondiente.
      </p>
      
        <form action="javascript:">
         <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1" style="color: #505488;">Fecha y hora de consignación</label>
              <input type="datetime-local" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" />
              <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" style="color: #505488;">Valor de consignación</label>
              <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Ej: 5.00" />
              <small id="emailHelp" class="form-text text-muted" >Agregue los valores decimales separados por punto. {{Idcuenta}}</small>
            </div>
           
          </div>
            <div class="col-md-6">
            
              <div class="form-group">
                <label for="exampleFormControlSelect1" style="color: #505488;">Tipo de consignación</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Transferencia Banco Pichincha cuenta XYZ" [(ngModel)]="tipoConsignacion" name="tipoCuenta" disabled=""/>
               <!--- <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Ej: Transferencia bancaria - cuenta Banco Pichincha"></textarea>-->
                <!--<select class="form-control" id="exampleFormControlSelect1">
                  <option>Transferencia Banco Pichincha</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>-->
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1" style="color: #505488;">Comprobante de pago</label>
                <input type="file" class="form-control" id="exampleInputPassword1" placeholder="Seleccione archivo..." />
              </div>
             
              
            </div>
         </div>
       
          <div class="form-group text-center" style="margin-top: 2%;">
           <button type="button" class="btn btn-light-primary" title="Confirmar consignación">Confirmar</button>
           <button type="button" class="btn btn-light-danger"  (click)="modalRef2?.hide()">Cancelar</button>
          </div>
         
        </form>



  </app-card>
</div>

</div>

</ng-template>

