<div class="row">     
    <div class="container-fluid">     

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body "> <!--sup izq der inf-->
              
              <div class="row">
                <div class="col-md-3">
                  <div class="row">
                    <div class="col-md-2">
                      <span type="button" class="badge m-r-5 text-center" (click)="VerInfoGanancias()" style="font-size: medium;padding-left: 12px; padding-right: 12px; "
                      [ngClass]="{'bag-step-active': divInformation, 'bag-step-desactive': !divInformation}"
                      >1</span>
                  
                    </div>
                    <div class="col-md-10">
                      <small>Consulta ganancias a obtener</small>
                    <hr style="size: 100%; background-color: #c0c0c7;">
                    </div>
                  </div>
                
                </div>
                <div class="col-md-3">
                  <div class="row">
                    <div class="col-md-2">
                      <span type="button" (click)="CrearRifa()" class="badge bag-step-active m-r-5" style="font-size: medium;"
                      [ngClass]="{'bag-step-active': divCreate, 'bag-step-desactive': !divCreate}">2</span>
                    </div>
                    <div class="col-md-10">
                      <small>Registra los datos de la rifa</small>
                    <hr style="size: 100%; background-color: #c0c0c7;">
                    </div>
                  </div>
                 
                </div>
                <div class="col-md-3">
                  <div class="row">
                    <div class="col-md-2">
                      <span type="button" (click)="VerSeccionPremios()" class="badge bag-step-active m-r-5" style="font-size: medium;"
                      [ngClass]="{'bag-step-active': divUpdated, 'bag-step-desactive': !divUpdated}">3</span>
                    </div>
                    <div class="col-md-10">
                      <small>Registra premio/s para la rifa</small>
                    <hr style="size: 100%; background-color: #c0c0c7;">
                    </div>
                  </div>
                 
                </div>
                <div class="col-md-3">
                  <div class="row">
                    <div class="col-md-2">
                      <span type="button" (click)="PublicarRifa()" class="badge bag-step-active m-r-5" style="font-size: medium;"
                      [ngClass]="{'bag-step-active': opcPublicar, 'bag-step-desactive': !opcPublicar}">4</span>
                    </div>
                    <div class="col-md-10">
                      <small>Publica la rifa y empieza a ganar</small>
                    <hr style="size: 100%; background-color: #c0c0c7;">
                    </div>
                 
                  </div>
                 
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

     

 <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body ">  


 <!--1 consulta ganancias-->
 <div class="row" *ngIf="divInformation">
  <div class="col-md-4">
   
    <div class="form-group">
      <label for="exampleInputEmail1" style="color: #868cd4;">Seleccione tipo de sorteo</label>
      <select class="form-control" id="exampleFormControlSelect1" name="opcionesSorteo" [(ngModel)]="opcSorteo">
        <option value="0">Seleccione una opción...</option>
        <option value="1">Mediante Loteria Nacional</option>
        <option value="2">Mediante esta plataforma</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" style="color: #868cd4;">Ingrese el total de precio de premio/s</label>
      <div class="input-group mb-3">
      <span class="input-group-text">$</span>
      <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"  [(ngModel)]="precioTotalpremio" name="totalPremio" />
     </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" style="color: #868cd4;">Ingrese precio de rifa por boleto</label>
      <div class="input-group mb-3">
      <span class="input-group-text">$</span>
      <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"   [(ngModel)]="precioRifaboleto" name="precioBoleto"/>

    </div>
    </div>

    <div class="text-center">
      <span class="badge m-r-5 badge-light-light " style="font-size: small; color: #9297e9;">Número mínimo de boletos a vender</span>
   
      <span class="badge m-r-5 badge-light-light " style="font-size: medium; color: #7c80c9;">{{minBoletos}}</span>
  </div>


    <div class="form-group text-center" style="margin-top: 10%;" >
      <button type="button" class="btn btn-icon btn d-inline-flex text-light" (click)="consultar()" *ngIf="btnConsult" style="background-color: #505488;">
        <i class="feather icon-search"> Consultar</i>
      </button>
      
    </div>
  </div>

  <div class="col-md-8">
    
    <div class="form-group" >

    <div class="row">
      <div class="col-md-7">
        <small class="text-dark" style="font-size: small;">En el siguiente apartado consulta de acuerdo al número de boletos a vender cual será la ganancia obtenida.</small>
    
      </div>
      <div class="col-md-5">
        <div class="form-group" style="margin-top: 3%;">
          <!--<label for="exampleInputEmail1" style="color: #568fda;" >Número de boletos a vender</label>-->
          <div class="input-group mb-3">
            <input
              type="number"
              class="form-control"
              placeholder="Ej: 100"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              [(ngModel)]="boletosVender"
            />
            <button class="btn btn text-light" type="button" id="button-addon2" (click)="CalcularGanancias(boletosVender)" style="background-color: #505488;"><i class="feather icon-search"></i></button>
          </div>
        </div>
      </div>
    </div>
   
   
        <hr>
        <div class="col-md-12">
  
          <div class="row">
            <div class="col-md-8">
              <span class="badge m-r-5 badge-light text-secondary" style="font-size: small;">Ganancia de venta total</span>
            </div>
            <div class="col-md-4">
              <div class="text-end">
                <span class="text-muted ms-2"><span class="badge m-r-5 badge-light-primary" style="font-size: medium;">$ {{gananciaVenta}}</span></span>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-8">
              <span class="badge m-r-5 badge-light text-secondary" style="font-size: small;">Ganancia menos precio premio/s</span>
            </div>
            <div class="col-md-4">
              <div class="text-end">
        <span class="text-muted ms-2"><span class="badge m-r-5 badge-light-primary" style="font-size: medium;">$ {{gananciamenosPP}}</span></span>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-8">
           
            </div>
            <div class="col-md-4">
              <div class="text-end">
               
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-8">
              <span class="badge m-r-5 badge-light text-secondary" style="font-size: small;">Costo por uso de plataforma</span>
            </div>
            <div class="col-md-4">
              <div class="text-end">
                <span class="text-muted ms-2"><span class="badge m-r-5 badge-light-primary" style="font-size: medium;">$ {{gananciaPorcentajeEmpresa}} </span></span>
              </div>
            </div>
          </div>
  
         
  
       
  
          <div class="row">
            <div class="col-md-8">
              <span class="badge m-r-5 badge-light text-secondary" style="font-size: small;">Ganancia de usuario</span>
            </div>
            <div class="col-md-4">
              <div class="text-end">
                <span class="text-muted ms-2"><span class="badge m-r-5 badge-light-primary" style="font-size: medium;">$ {{gananciaUsuario}}</span></span>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-8">
              <span class="badge m-r-5 badge-light text-secondary" style="font-size: small;">Ganancia final de usuario</span>
            </div>
            <div class="col-md-4">
              <div class="text-end">
                <span class="text-muted ms-2"><span class="badge m-r-5 badge-light-primary" style="font-size: medium;">$ {{gananciaFinalUsuario}}</span></span>
              </div>
            </div>
          </div>
  
       
  
  
        </div>
        
       
      </div>
  </div>
</div>


<!--2 registro de datos de rifa-->
<div class="row"  *ngIf="divCreate">
  <div class="col-md-12">
             <form action="javascript:">
               <div class="form-group">
                 <div class="col-md-12">
                   <div class="row">
                    <div class="col-md-6">
                      <img alt="imgSrc" src="assets/images/gallery-grid/Cap3.png" width="80%" class="contenedor-imagen">
                    </div>
                     <div class="col-md-6">

                       <label for="exampleInputEmail1" style="color: #868cd4;">Tipo de sorteo</label>
                       <select class="form-control" id="exampleFormControlSelect1" name="opcionesSorteo1" [(ngModel)]="opcSorteo" >
                         <option value="0">Seleccione una opción...</option>
                         <option value="1">Mediante Loteria Nacional</option>
                         <option value="2">Mediante esta plataforma</option>
                       </select>
                     
                       <label for="exampleInputEmail1" style="color: #868cd4;">Fecha de sorteo</label>
                       <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="fechaSorteo" [(ngModel)]="fechaSorteo" />
                    
                  
                   
                 
                       <label for="exampleInputEmail1" style="color: #868cd4;">Título de rifa</label>
                       <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Título de rifa..." name="tituloRifa" [(ngModel)]="tituloRifa"></textarea>
                   
                
                       <label for="exampleInputPassword1" style="color: #868cd4;">Descripción de rifa</label>
                       <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Descripción de rifa..." name="descripRifa" [(ngModel)]="descripRifa"></textarea>
                   
                 

                   
                     <div class="col-md-4" *ngIf="opcSorteo==2">
                       <label for="exampleInputEmail1" style="color: #868cd4;">Cantidad de boletos a vender</label>
                      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ej: 100" name="numBoletos" [(ngModel)]="numBoletos" />
                     </div>
                    
                     <div class="col-md-4" *ngIf="opcSorteo==1">
                      <label for="exampleInputEmail1" style="color: #868cd4;">Intervalo de boletos</label>
                      <select class="form-control" id="exampleFormControlSelect1" name="opcionesSorteo" [(ngModel)]="numBoletos">
                        <option value="0">Seleccione una opción...</option>
                        <option value="100">00 - 99</option>
                        <option value="1000">000 - 999</option>
                        <option value="10000">0000 - 9999</option>
                        <option value="100000">000000 - 999999</option>
                      </select>
                     </div>


                     
                      <label for="exampleInputEmail1" style="color: #868cd4;">Costo boleto</label>
                       <div class="input-group mb-3">
                         <span class="input-group-text">$</span>
                         <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Ej: 1" [(ngModel)]="precioRifaboleto" name="precioBoleto" />
                       </div>
                       
                   
                  
                      <label for="exampleInputEmail1" style="color: #868cd4;">Número de premios</label>
                      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ej: 1" name="numTotalPremios" [(ngModel)]="premiosCantidad"/>
                     



               
            

               
                      <label for="exampleInputEmail1" style="color: #868cd4;">Porcentaje mínimo de boletos por persona</label>
                    
                      <div class="input-group mb-3">
                        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Ej: 1" name="porcentajeBoletosMin"  [(ngModel)]="porcentajeMinBoletos" />
                        <span class="input-group-text">%</span>
              
                        <span class="input-group-text" type="button" (click)="ConsultarMinBoletosxPersona(numBoletos)"><i class="fa fa-refresh" aria-hidden="true"> Consultar mínimo de boletos</i></span>
                        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Ej: 1" name="minBoletosPersona"  [(ngModel)]="minBoletosxPersona" disabled="" />
                       
                      </div>
                   
                   
                 
                 
                   

                    </div>
                
               </div>
              </div>
            </div>
               <div class="text-center" style="margin-top: 2%;">
                 <button type="button" class="btn btn-icon btn d-inline-flex text-light" (click)="CrearRifa()" style="background-color: #505488;">
                   <i class="feather icon-save"> Guardar</i>
                 </button>
               </div>
             
             </form>
  </div>
       
 </div>


 <!--3 registro de premios para rifa-->
<div class="row"  *ngIf="divUpdated">
  <div class="col-md-12" >

             <div class="row">
              <form action="javascript:">
                <div class="form-group">
                  <div class="col-md-12">
                   
                    <div class="row">
                      <div class="col-md-6">
                        <label for="exampleInputEmail1" style="color: #868cd4;">Nombre de premio</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Título de rifa..."></textarea>
                      </div>
                      <div class="col-md-6">
                        <label for="exampleInputPassword1" style="color: #868cd4;">Descripción de premio</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Descripción de rifa..."></textarea>
                      </div>
                    </div>
                    <div class="row" style="margin-top: 2%;">
                      <div class="col-md-6">
                        <label for="exampleInputEmail1" style="color: #868cd4;">Estado de premio</label>
                        <div class="custom-control custom-radio">
                          <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" />
                          <label class="custom-control-label ps-2" for="customRadio1"><span class="badge m-r-5 badge-light-warning">3
                            <i name="star" class="fa fa-star" style="color: gold;" ></i>
                          </span></label>
                        </div>
                        <div class="custom-control custom-radio">
                          <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" />
                          <label class="custom-control-label ps-2" for="customRadio1"><span class="badge m-r-5 badge-light-warning">3.5
                            <i name="star" class="fa fa-star" style="color: gold;" ></i>
                          </span></label>
                        </div>
                        <div class="custom-control custom-radio">
                          <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" />
                          <label class="custom-control-label ps-2" for="customRadio1"><span class="badge m-r-5 badge-light-warning">4
                            <i name="star" class="fa fa-star" style="color: gold;" ></i>
                          </span></label>
                        </div>
                        <div class="custom-control custom-radio">
                          <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" />
                          <label class="custom-control-label ps-2" for="customRadio1"><span class="badge m-r-5 badge-light-warning">4.5
                            <i name="star" class="fa fa-star" style="color: gold;" ></i>
                          </span></label>
                        </div>
                        <div class="custom-control custom-radio">
                          <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" />
                          <label class="custom-control-label ps-2" for="customRadio2"><span class="badge m-r-5 badge-light-warning">5
                            <i name="star" class="fa fa-star" style="color: gold;" ></i>
                          </span></label>
                        </div>
                        
                      </div>
                      <div class="col-md-6">
                        <label for="exampleInputEmail1" style="color: #868cd4;">Categorías de premio</label>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1" />
                          <label class="custom-control-label ps-2" for="customCheck1">Hogar</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1" />
                          <label class="custom-control-label ps-2" for="customCheck1">Efectivo</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1" />
                          <label class="custom-control-label ps-2" for="customCheck1">Vehículos</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1" />
                          <label class="custom-control-label ps-2" for="customCheck1">Tecnología</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                         <span class="badge m-r-5 badge-success text-muted" style="font-size: medium;" type="button" (click)="AgregarCategoria()">
                            <i name="star" class="fa fa-plus" style="color: rgb(36, 133, 60);" ></i>Agregar otra
                          </span>
                          <input type="checkbox" class="custom-control-input" id="customCheck1" />
                          <label class="custom-control-label ps-2" for="customCheck1">Otra</label>
                          <input  *ngIf="opcOtraCategoria==true" type="text" class="custom-control-input" id="customCheck1" placeholder="Ingrese categoría..." />
                        </div>
                      </div>
                    </div>
                    <div class="row" style="margin-top: 5%;">
                    <!--sección para agregar imágenes"-->
               


                    <div class="center">
                      <ngx-file-drop [multiple]="true" 
                      dropZoneLabel="Arraste las imágenes aquí"
                      (onFileDrop)="dropped($event)" 
                      (onFileOver)="fileOver($event)"
                      (onFileLeave)="fileLeave($event)"
                      accept="image/*"
                     >
                      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <button type="button" (click)="openFileSelector()">Agregar</button>
                      </ng-template>
                      </ngx-file-drop>

                      <div>
                        <p>Archivos agregados:</p>
                        <p>{{ archivosEnLista }}</p>

                       <!--- <div *ngFor="let item of archivosAgregados2">
                          <img [src]="imagePath" alt="Logo" class="img-fluid" width="25%" height="25%" />
                        </div>-->
                      </div>
                     
                     <!--- <div class="upload-table">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>Name</th>
                                  </tr>
                              </thead>
                              <tbody class="upload-name-style">
                                  <tr *ngFor="let item of files">
                                      <td ><strong>{{item.relativePath}}</strong></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>-->
                  </div>


                    </div>
                    
                  </div>
                 
                </div>
                
                <div class="text-center" style="margin-top: 5%;">
                  <button type="button" class="btn btn-icon btn d-inline-flex text-light" (click)="CrearRifa()" style="background-color: #2ead6e;">
                    <i class="feather icon-plus-square"> Agregar imágenes</i>
                  </button>
                  <button type="button" class="btn btn-icon btn d-inline-flex text-light" (click)="CrearRifa()" style="background-color: #505488;">
                    <i class="feather icon-save"> Guardar premio</i>
                  </button>
                </div>
              
              </form>

              
             
             </div>
               
                
                    
            
            
            <div class="row" style="margin-top:5%">
              <p class="text-danger text-center"><i class="feather icon-alert-triangle"></i> No hay premios registrados aún!!!</p>
              
            </div>

            <!--sección premios-->
            <div class="row">
       


<div class="col-sm-6 col-lg-3 ">
<app-card [hidHeader]="true" blockClass="text-center">
 <p style="font-weight: bold;">Premio 1</p>
    
      <ngb-carousel>
        <ng-template ngbSlide>

      <img alt="imgSrc" src="assets/images/gallery-grid/s4.jpg" width="100%" class="contenedor-imagen">
      <button class="boton-con-icono" title="Eliminar imagen">
        <i class="fa fa-times-circle text-danger"></i> 
      </button>
      </ng-template>
      <ng-template ngbSlide>
        
          <img alt="imgSrc" src="assets/images/gallery-grid/s5.jpg" width="100%" class="contenedor-imagen">
          <button class="boton-con-icono" title="Eliminar imagen">
            <i class="fa fa-times-circle text-danger"></i> 
          </button>
    </ng-template>
    <ng-template ngbSlide>
      
  <img alt="imgSrc" src="assets/images/gallery-grid/s4.jpg" width="100%" class="contenedor-imagen">
  <button class="boton-con-icono" title="Eliminar imagen">
    <i class="fa fa-times-circle text-danger"></i> 
  </button>
  </ng-template>
  <ng-template ngbSlide>
    
    <img alt="imgSrc" src="assets/images/gallery-grid/s11.jpg" width="100%" class="contenedor-imagen">
    <button class="boton-con-icono" title="Eliminar imagen">
      <i class="fa fa-times-circle text-danger" ></i> 
    </button>
</ng-template>
<ng-template ngbSlide>
  
  <img alt="imgSrc" src="assets/images/gallery-grid/masonry-6.jpg" width="100%" class="contenedor-imagen">
  <button class="boton-con-icono" title="Eliminar imagen">
    <i class="fa fa-times-circle text-danger"></i> 
  </button>
</ng-template>
      </ngb-carousel>
<div style="margin-top: 5%;">
<p class="text-muted">Boat Headphone</p>
<div class="d-flex align-items-center justify-content-between">

<div class="d-flex align-items-center">
  <span class="badge m-r-5 badge-light-success " style="font-size: large;" type="button" title="Editar premio">
    <i name="star" class="fa fa-pencil" style="color:rgb(56, 158, 24) ;" ></i>
  </span>
  <span class="badge m-r-5 badge-light-primary" style="font-size: large;" type="button" title="Agregar imagen a premio">
    <i name="star" class="fa fa-plus-circle" style="color:blue ;" ></i>
  </span>

</div>

  <div class="m-l-auto d-flex gap-4">
    <span class="badge m-r-5 badge-light-danger" style="font-size: large;" type="button" title="Eliminar premio">
      <i name="star" class="fa fa-trash" style="color:brown;" ></i>
    </span>
  </div>
</div>
</div>
</app-card>
</div>


<div class="col-sm-6 col-lg-3 ">
<app-card [hidHeader]="true" blockClass="text-center">
 <p style="font-weight: bold;">Premio 2</p>
    
      <ngb-carousel>
        <ng-template ngbSlide>

      <img alt="imgSrc" src="assets/images/gallery-grid/s4.jpg" width="100%" class="contenedor-imagen">
      <button class="boton-con-icono" title="Eliminar imagen">
        <i class="fa fa-times-circle text-danger"></i> 
      </button>
      </ng-template>
      <ng-template ngbSlide>
        
          <img alt="imgSrc" src="assets/images/gallery-grid/s5.jpg" width="100%" class="contenedor-imagen">
          <button class="boton-con-icono" title="Eliminar imagen">
            <i class="fa fa-times-circle text-danger"></i> 
          </button>
    </ng-template>
    <ng-template ngbSlide>
      
  <img alt="imgSrc" src="assets/images/gallery-grid/s4.jpg" width="100%" class="contenedor-imagen">
  <button class="boton-con-icono" title="Eliminar imagen">
    <i class="fa fa-times-circle text-danger"></i> 
  </button>
  </ng-template>
  <ng-template ngbSlide>
    
    <img alt="imgSrc" src="assets/images/gallery-grid/s11.jpg" width="100%" class="contenedor-imagen">
    <button class="boton-con-icono" title="Eliminar imagen">
      <i class="fa fa-times-circle text-danger" ></i> 
    </button>
</ng-template>
<ng-template ngbSlide>
  
  <img alt="imgSrc" src="assets/images/gallery-grid/masonry-6.jpg" width="100%" class="contenedor-imagen">
  <button class="boton-con-icono" title="Eliminar imagen">
    <i class="fa fa-times-circle text-danger"></i> 
  </button>
</ng-template>
      </ngb-carousel>
<div style="margin-top: 5%;">
<p class="text-muted">Boat Headphone</p>
<div class="d-flex align-items-center justify-content-between">

<div class="d-flex align-items-center">
  <span class="badge m-r-5 badge-light-success " style="font-size: large;" type="button" title="Editar premio">
    <i name="star" class="fa fa-pencil" style="color:rgb(56, 158, 24) ;" ></i>
  </span>
  <span class="badge m-r-5 badge-light-primary" style="font-size: large;" type="button" title="Agregar imagen a premio">
    <i name="star" class="fa fa-plus-circle" style="color:blue ;" ></i>
  </span>

</div>

  <div class="m-l-auto d-flex gap-4">
    <span class="badge m-r-5 badge-light-danger" style="font-size: large;" type="button" title="Eliminar premio">
      <i name="star" class="fa fa-trash" style="color:brown;" ></i>
    </span>
  </div>
</div>
</div>
</app-card>
</div>

<div class="col-sm-6 col-lg-3 ">
<app-card [hidHeader]="true" blockClass="text-center">
 <p style="font-weight: bold;">Premio 3</p>
    
      <ngb-carousel>
        <ng-template ngbSlide>

      <img alt="imgSrc" src="assets/images/gallery-grid/s4.jpg" width="100%" class="contenedor-imagen">
      <button class="boton-con-icono" title="Eliminar imagen">
        <i class="fa fa-times-circle text-danger"></i> 
      </button>
      </ng-template>
      <ng-template ngbSlide>
        
          <img alt="imgSrc" src="assets/images/gallery-grid/s5.jpg" width="100%" class="contenedor-imagen">
          <button class="boton-con-icono" title="Eliminar imagen">
            <i class="fa fa-times-circle text-danger"></i> 
          </button>
    </ng-template>
    <ng-template ngbSlide>
      
  <img alt="imgSrc" src="assets/images/gallery-grid/s4.jpg" width="100%" class="contenedor-imagen">
  <button class="boton-con-icono" title="Eliminar imagen">
    <i class="fa fa-times-circle text-danger"></i> 
  </button>
  </ng-template>
  <ng-template ngbSlide>
    
    <img alt="imgSrc" src="assets/images/gallery-grid/s11.jpg" width="100%" class="contenedor-imagen">
    <button class="boton-con-icono" title="Eliminar imagen">
      <i class="fa fa-times-circle text-danger" ></i> 
    </button>
</ng-template>
<ng-template ngbSlide>
  
  <img alt="imgSrc" src="assets/images/gallery-grid/masonry-6.jpg" width="100%" class="contenedor-imagen">
  <button class="boton-con-icono" title="Eliminar imagen">
    <i class="fa fa-times-circle text-danger"></i> 
  </button>
</ng-template>
      </ngb-carousel>
<div style="margin-top: 5%;">
<p class="text-muted">Boat Headphone</p>
<div class="d-flex align-items-center justify-content-between">

<div class="d-flex align-items-center">
  <span class="badge m-r-5 badge-light-success " style="font-size: large;" type="button" title="Editar premio">
    <i name="star" class="fa fa-pencil" style="color:rgb(56, 158, 24) ;" ></i>
  </span>
  <span class="badge m-r-5 badge-light-primary" style="font-size: large;" type="button" title="Agregar imagen a premio">
    <i name="star" class="fa fa-plus-circle" style="color:blue ;" ></i>
  </span>

</div>

  <div class="m-l-auto d-flex gap-4">
    <span class="badge m-r-5 badge-light-danger" style="font-size: large;" type="button" title="Eliminar premio">
      <i name="star" class="fa fa-trash" style="color:brown;" ></i>
    </span>
  </div>
</div>
</div>
</app-card>
</div>

<div class="col-sm-6 col-lg-3 ">
<app-card [hidHeader]="true" blockClass="text-center">
 <p style="font-weight: bold;">Premio 4</p>
    
      <ngb-carousel>
        <ng-template ngbSlide>

      <img alt="imgSrc" src="assets/images/gallery-grid/s4.jpg" width="100%" class="contenedor-imagen">
      <button class="boton-con-icono" title="Eliminar imagen">
        <i class="fa fa-times-circle text-danger"></i> 
      </button>
      </ng-template>
      <ng-template ngbSlide>
        
          <img alt="imgSrc" src="assets/images/gallery-grid/s5.jpg" width="100%" class="contenedor-imagen">
          <button class="boton-con-icono" title="Eliminar imagen">
            <i class="fa fa-times-circle text-danger"></i> 
          </button>
    </ng-template>
    <ng-template ngbSlide>
      
  <img alt="imgSrc" src="assets/images/gallery-grid/s4.jpg" width="100%" class="contenedor-imagen">
  <button class="boton-con-icono" title="Eliminar imagen">
    <i class="fa fa-times-circle text-danger"></i> 
  </button>
  </ng-template>
  <ng-template ngbSlide>
    
    <img alt="imgSrc" src="assets/images/gallery-grid/s11.jpg" width="100%" class="contenedor-imagen">
    <button class="boton-con-icono" title="Eliminar imagen">
      <i class="fa fa-times-circle text-danger" ></i> 
    </button>
</ng-template>
<ng-template ngbSlide>
  
  <img alt="imgSrc" src="assets/images/gallery-grid/masonry-6.jpg" width="100%" class="contenedor-imagen">
  <button class="boton-con-icono" title="Eliminar imagen">
    <i class="fa fa-times-circle text-danger"></i> 
  </button>
</ng-template>
      </ngb-carousel>
<div style="margin-top: 5%;">
<p class="text-muted">Boat Headphone</p>
<div class="d-flex align-items-center justify-content-between">

<div class="d-flex align-items-center">
  <span class="badge m-r-5 badge-light-success " style="font-size: large;" type="button" title="Editar premio">
    <i name="star" class="fa fa-pencil" style="color:rgb(56, 158, 24) ;" ></i>
  </span>
  <span class="badge m-r-5 badge-light-primary" style="font-size: large;" type="button" title="Agregar imagen a premio">
    <i name="star" class="fa fa-plus-circle" style="color:blue ;" ></i>
  </span>

</div>

  <div class="m-l-auto d-flex gap-4">
    <span class="badge m-r-5 badge-light-danger" style="font-size: large;" type="button" title="Eliminar premio">
      <i name="star" class="fa fa-trash" style="color:brown;" ></i>
    </span>
  </div>
</div>
</div>
</app-card>
</div>









            </div>
       
        
            </div>

 <!--4 publicar rifa-->

  </div>
    </div>
  </div>
</div>



      


       

    </div>   
    
</div>
  
                 
        





