<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/logo-dark.png" alt="logo" class="img-fluid mb-4" />
            <h4 class="mb-3 f-w-400">Registrarse</h4>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa fa-id-card-o"></i></span>
              <input type="text" class="form-control" placeholder="Ingrese número de cédula"  aria-label="dni" aria-describedby="basic-addon1" />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa fa-user"></i></span>
              <input type="text" class="form-control" placeholder="Ingrese nombre completo"  aria-label="names" aria-describedby="basic-addon1" disabled />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa fa-calendar"></i></span>
              <input type="date" class="form-control" placeholder="Ingrese fecha de nacimiento"  aria-label="date" aria-describedby="basic-addon1" />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa fa-phone"></i></span>
              <input type="text" class="form-control" placeholder="Ingrese número de teléfono"  aria-label="phone" aria-describedby="basic-addon1" />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon2"><i class="fa fa fa-envelope"></i></span>
              <input type="email" class="form-control" placeholder="Ingrese correo electrónico" aria-label="mail" aria-describedby="basic-addon2" />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon3"><i class="fa fa fa-lock"></i></span>
              <input type="password" class="form-control" placeholder="Ingrese contraseña" aria-label="pass" aria-describedby="basic-addon3" />
            </div>
           
        
            <!-- <div class="form-group text-start mt-2">
              <div class="checkbox checkbox-primary d-inline">
                <input type="checkbox" name="checkbox-fill-2" id="checkbox-fill-2" />
                <label for="checkbox-fill-2" class="cr">Send me the <a href="javascript:"> Newsletter </a> weekly.</label>
              </div>
            </div> -->
            <div class="d-grid">
              <button class="btn btn-primary btn-block mb-4">Crear una cuenta</button>
            </div>
            <p class="mb-2">¿Ya tienes una cuenta? <a [routerLink]="['/auth/signin']" class="f-w-400">Iniciar sesión</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
