<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="103" android:versionName="1.27" android:installLocation="auto" android:compileSdkVersion="33" android:compileSdkVersionCodename="13" package="com.cne.servicioscne" platformBuildVersionCode="33" platformBuildVersionName="13">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="http"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.media.browse.MediaBrowserService"/>
        </intent>
    </queries>
    <uses-feature android:glEsVersion="20000" android:required="true"/>
    <application android:label="CNE App" android:icon="@drawable/icon" android:name="androidx.multidex.MultiDexApplication" android:debuggable="false" android:allowBackup="false" android:extractNativeLibs="false" android:usesCleartextTraffic="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:isSplitRequired="true">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCvHSgTkzSGIv9531z3xxTkVJcC3V_6ny4"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:name="crc646957603ea1820544.MediaPickerActivity" android:configChanges="orientation|uiMode|screenSize"/>
        <receiver android:name="crc643f46942d9dd1fff9.PowerSaveModeBroadcastReceiver" android:enabled="true" android:exported="false"/>
        <activity android:label="Scanner" android:name="crc6480997b3ef81bf9b2.ZxingActivity" android:configChanges="keyboardHidden|orientation|screenLayout"/>
        <activity android:theme="@style/MainTheme" android:label="CNE App" android:icon="@mipmap/icon" android:name="crc6460efe5dbc463cec9.MainActivity" android:configChanges="orientation|screenSize"/>
        <activity android:theme="@style/Theme.Splash" android:name="crc6460efe5dbc463cec9.SplashActivity" android:exported="true" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <provider android:name="mono.android.MultiDexLoader" android:exported="false" android:authorities="com.cne.servicioscne.mono.android.MultiDexLoader.__mono_init__" android:initOrder="1999999999"/>
        <provider android:name="mono.MonoRuntimeProvider" android:exported="false" android:authorities="com.cne.servicioscne.mono.MonoRuntimeProvider.__mono_init__" android:initOrder="1999999998"/>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false"/>
        <meta-data android:name="com.android.vending.splits.required" android:value="true"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data android:name="com.android.vending.splits" android:resource="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="4"/>
    </application>
</manifest>
